--- 
import { LINKS } from "@consts" 
import { cn } from "@lib/utils" 
const { pathname } = Astro.url 
const subpath = pathname.match(/[^/]+/g) 
---  

<div id="drawer" class="fixed inset-0 h-0 z-40 overflow-hidden flex flex-col items-center justify-center md:hidden bg-neutral-100 dark:bg-neutral-900 transition-[height] duration-300 ease-in-out">   
  <div class="flex flex-col items-center gap-8">
    <nav class="flex flex-col items-center space-y-4">     
      {       
        LINKS.map((LINK) => (         
          <a href={LINK.HREF} class={cn(
            "flex items-center justify-center px-4 py-2 rounded-full text-base font-medium", 
            "text-current hover:text-black dark:hover:text-white", 
            "hover:bg-black/5 dark:hover:bg-white/20", 
            "transition-colors duration-300 ease-in-out", 
            pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF 
              ? "pointer-events-none bg-black dark:bg-white text-white dark:text-black" 
              : ""
          )}>           
            {LINK.TEXT}         
          </a>       
        ))     
      }   
    </nav>
    
    <button id="drawer-theme-button" aria-label={`Toggle light and dark theme`} class="mt-6 size-12 rounded-full p-2.5 flex items-center justify-center bg-transparent hover:bg-black/5 dark:hover:bg-white/20 stroke-current hover:stroke-black hover:dark:stroke-white border border-black/10 dark:border-white/25 transition-colors duration-300 ease-in-out">       
      <svg class="block dark:hidden size-full">         
        <use href="/ui.svg#sun"></use>       
      </svg>       
      <svg class="hidden dark:block size-full">         
        <use href="/ui.svg#moon"></use>       
      </svg>     
    </button>   
  </div>
</div>  

<style>   
  #drawer.open {     
    @apply h-full;   
  } 
</style>

<script is:inline>
  document.addEventListener('astro:after-swap', function() {
    const themeButton = document.getElementById('drawer-theme-button');
    const headerThemeButton = document.getElementById('header-theme-button');
    
    if (themeButton && headerThemeButton) {
      themeButton.addEventListener('click', function() {
        // Trigger the same action as the header theme button
        headerThemeButton.click();
      });
    }
  });
</script>